<header  class="absolute inset-x-0 top-0 z-50">
  <nav class="custom-nav fixed top-0 w-full flex items-center justify-between p-5 lg:px-8 transition-colors duration-300"
  [ngClass]="{
    'bg-transparent': isHomePage && !isScroll,
    'bg-[#93c093]': !isHomePage && !isScroll,
    'bg-[#83A683]': isScroll
  }"
  aria-label="Global">

  <div class="flex lg:flex-1 items-center gap-2">
    <a routerLink="/" class="-m-1.5 p-1.5 flex items-center gap-2">
      <svg class="w-8 h-8 text-white" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M10 2a8 8 0 1 1-7.446 5.032A4 4 0 0 1 6 6h2a4 4 0 0 1 4-4h1a1 1 0 1 1 0 2h-1a2 2 0 0 0-2 2H6a2 2 0 0 0-1.732 1H10a6 6 0 1 1-5.196 3.02A8 8 0 0 1 10 2z" clip-rule="evenodd"></path>
      </svg>
      <span class="text-2xl font-bold text-white">Bloombox</span>
    </a>
  </div>

    <div class="flex lg:hidden">
      <button type="button" (click)="mobileMenuOpen=true" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white">
        <span class="sr-only">Open main menu</span>
        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a routerLink="list-product" class="text-sm/6 font-semibold text-gray-900">Product</a>
      <a routerLink="about-us" class="text-sm/6 font-semibold text-gray-900">About Us</a>
      <a routerLink="contact-us" class="text-sm/6 font-semibold text-gray-900">Contact Us</a>
      <a routerLink="plant-library" class="text-sm/6 font-semibold text-gray-900">Plant Libraries</a>

    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end gap-8">

      @if (cart._id) {
        <a [routerLink]="['cart-page', cart._id]" class="text-sm/6 font-semibold text-gray-900 flex items-center">
          <i class="fas fa-shopping-cart text-lg mr-2"></i>
          <span>Cart</span>
        </a>
      } @else {
        <a routerLink="list-product" class="text-sm font-semibold text-white flex items-center hover:underline">
          No Cart Yet! Please add an Item
        </a>
              }
    </div>
  </nav>
   @if(mobileMenuOpen){
    <div class="lg:hidden" role="dialog" aria-modal="true">
      <div class="fixed inset-0 z-50"></div>
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a routerLink="/" class="-m-1.5 p-1.5">
            <span class="sr-only">Bloombox</span>
            <p class ='firm-name h-8 w-auto'>Bloombox</p>
          </a>
          <button type="button" (click)="mobileMenuOpen=false" class="-m-2.5 rounded-md p-2.5 text-black">
            <span class="sr-only">Close menu</span>
            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class=" space-y-2 py-6">

              <a routerLink="list-product" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Product</a>
              <a routerLink="about-us" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">About Us</a>
              <a routerLink="contact-us" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Contact Us</a>
              <a routerLink="plant-library" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Plant Library</a>
              @if (cart._id) {
                <a [routerLink]="['cart-page', cart._id]" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">
                  <span>Cart</span>
                </a>
              } @else {
                <a routerLink="list-product" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">No Cart Yet!, Please add an Item</a>

              }
            </div>
            <div class="py-6">
              <a routerLink="login" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Log In</a>
              <a button (click)="logout()" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Log Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
   }
</header>
